body {
	background: #426176; /*url("images/pnpPlaymat.jpg") repeat top;*/
	font-size: 20px;
	color: #fee86e;
}
#turnDeck{

}

#revealedCards{
	max-width:600px;
}

#scaling{
	max-width:500px;
	position:absolute;
	left:300;
	top:80;
}

#buttons{
	width:100%;
	max-width:1000px;
}

#revealButton{
	width:100%

	
}

#scaling{
	width:100%;
	max-width:10%
}

.button{
	background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

